/* border box fix */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Color Palette */

/* # - color 1 */
.color1 {
	background-color: #8C030E;
	color: white;
}

/* # - color 2 */
.color2 {
	background-color: #8C031C;
}

/* # - color 3 */
.color3 {
	background-color: #260104;
}

/* # - color 4 */
.color4 {
	background-color: #0D0D0D;
}

/* Global styles 
------------------------------------*/
body {
	margin: 0 auto;
}

h1, h2, h3 {
	margin: 0;
}

p, li, a {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
	font-family: 'Scheherazade New', serif;
	font-size: 64px;
	margin: 0;
	/* Adjust height to approx. 96px */
	height: 96px;
}

/* Adjust h2 for header differently and the rest are fine */
h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 36px;
	font-weight: 600;
	/* clear: both; */
}

h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	/* clear: both; */
}

/* Header & Footer 
------------------------------------*/

header, footer {
	color: white;
}

.profile-img {
	border-radius: 50%;
}

.display {
	text-align: center;
}

.display a {
	font-family: 'Scheherazade New', serif;
	font-size: 18px;
	font-weight: bold;
	color: red;
	text-decoration: none; /* Got rid of the underlines */
	padding: 10px;
	display: inline-block;
}

.column-narrow {
	width: 30%;
	float: left;
	padding-right: 3%;
	min-height: 175px;
}

.column-wide {
	width: 70%;
	float: left;
	min-height: 225px;
}

footer {
	text-align: center;
}

footer h2 {
	margin-bottom: 10px; /* Extra spacing for the icons below it to look more nicely */
}

.contact-info {
	font-size: 26px; /* Increased the size of the icons */
}

.contact-info a {	
	color: white;
}

i {
	padding: 12px 20px; /* Spacing out the icons */
}

/* Work Experience
------------------------------------*/

.about {
	color: white;
}

.about h2 {
	font-size: 30px;
	font-weight: 300;
}

.work-title p, .work-description p {
	margin: 0;
}

/* Applies to education styling section too */
.section-title {
	margin-bottom: 20px;
}


/* Education
------------------------------------*/

.degree {
	margin: 0;
}

.image-bg {
	background: no-repeat fixed url("../assets/LosAngeles.jpg");
	background-position: top 100px left 0; /* Positions the background nicely thanks to the fixed display */
	color: white; /* For the text within the section this class is in */
}

.alpha-bg {
	background-color: rgba(163, 24, 5, 0.3);
}